@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2e8f0;
    display: block;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr 4fr;
}

.container .dashboard {
    grid-row: span 3;
    background-color: #0ea5e9;
}

.container .header {
    grid-column: 2 / 3;
    background-color: white;
    border: solid 2px #cbd5e1;
    box-shadow: 0px 5px 5px rgb(203,213,225);
}

.container .main-content {
    grid-row: 2/4;
    grid-column: 2/3;
}

/** Dashboard CSS **/

.dashboard-icon,
.icon {
    color: white;
    font-size: 25px;
}

.dashboard-icon .icon {
    width: 50px;
    height: 50px;
}

.dashboard .settings-icon,
.dashboard .privacy-icon,
.dashboard .support-icon,
.dashboard .home-icon,
.dashboard .message-icon,
.dashboard .profile-icon,
.dashboard .history-icon,
.dashboard .profile-icon,
.dashboard .tasks-icon,
.dashboard .communities-icon {
    margin-left: 12px;
    gap: 25px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.icon:hover,
.dashboard-icon:hover,
.tasks-icon:hover,
.privacy-icon:hover,
.settings-icon:hover,
.support-icon:hover,
.communities-icon:hover,
.message-icon:hover,
.history-icon:hover,
.profile-icon:hover,
.home-icon:hover {
    cursor: pointer;
    color: #083344;
}

.dashboard .home-icon,
.dashboard .others {
    margin-top: 30px;
}

.dashboard-icon,
.tasks-icon,
.privacy-icon,
.settings-icon,
.support-icon,
.communities-icon,
.message-icon,
.history-icon,
.profile-icon,
.home-icon {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 10px;
}

.icon {
    width: 25px;
    height: 25px;
}

/** Header CSS **/

.header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.search-bar {
    height: 25px;
    background-color: #cbd5e1;
    border-radius: 10px;
    border: none;
    width: 500px;
}

.bar-search {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    margin-left: 35px;
    margin-top: 15px;
    gap: 15px;
}