@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2e8f0;
    display: block;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr 4fr;
}

.container .dashboard {
    grid-row: span 3;
    background-color: #0ea5e9;
}

.container .header {
    grid-column: 2 / 3;
    background-color: white;
    border: solid 2px #cbd5e1;
    box-shadow: 0px 5px 5px rgb(203,213,225);
}

.container .main-content {
    grid-row: 2/4;
    grid-column: 2/3;
}

/** Dashboard CSS **/

.dashboard-icon,
.icon {
    color: white;
    font-size: 25px;
}

.dashboard-icon .icon {
    width: 50px;
    height: 50px;
}

.dashboard .settings-icon,
.dashboard .privacy-icon,
.dashboard .support-icon,
.dashboard .home-icon,
.dashboard .message-icon,
.dashboard .profile-icon,
.dashboard .history-icon,
.dashboard .profile-icon,
.dashboard .tasks-icon,
.dashboard .communities-icon {
    margin-left: 12px;
    gap: 25px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.icon:hover,
.dashboard-icon:hover,
.tasks-icon:hover,
.privacy-icon:hover,
.settings-icon:hover,
.support-icon:hover,
.communities-icon:hover,
.message-icon:hover,
.history-icon:hover,
.profile-icon:hover,
.home-icon:hover {
    cursor: pointer;
    color: black;
}

.dashboard .home-icon,
.dashboard .others {
    margin-top: 30px;
}

.dashboard-icon,
.tasks-icon,
.privacy-icon,
.settings-icon,
.support-icon,
.communities-icon,
.message-icon,
.history-icon,
.profile-icon,
.home-icon {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 10px;
}

.icon {
    width: 25px;
    height: 25px;
}

/** Header CSS **/

.header {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.search-bar {
    height: 26px;
    background-color: #e2e8f0;
    border-radius: 10px;
    border: none;
}

.bar-search {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    margin-left: 35px;
    margin-top: 10px;
    gap: 15px;
}

.pfp {
    height: 40px;
}

.notifications {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 45px;
    margin-top: 10px;
}

.hello-header .pfp {
    height: 60px;
}

.hello-header {
    display: grid;
    grid-auto-flow: column;
    margin-left: 35px;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

div .enlarged {
    font-size: 20px;
    font-weight: bold;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons .action {
    height: 35px;
    width: 95px;
    color: white;
    background-color: #0ea5e9;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.buttons .action:hover {
    background-color: #0369a1;
}

.buttons .action:active {
    background-color: #0ea5e9;
}

.main-content{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: 0.1fr 1fr;
    margin-left: 20px;
}

.project {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}

.project-item h3 {
    padding: 0;
    margin: 0;
}
.project-item {
    background-color: white;
    font-size: 12px;
    display: grid;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    border-left: 6px solid #fbbf24;
}

.icon-actions {
    position: absolute;
    right: 16px;
    bottom: 20px;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: bottom;
    gap: 15px;
}

.announcements-trending {
    grid-column: 2 / 3;
    grid-row: span 2;
    margin-left: 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 10px;
}

.announcements div {
    background-color: white;
    border-bottom: solid 1px #9ca3af;
    box-shadow: 0 2px 10px rgb(156,163,175);
    border-radius: 8px;
    padding: 10px 30px 20px 30px;
    font-size: 10px;
    margin-right: 30px;
    margin-top: 20px;
}

.announcements div h3 {
    font-size: 15px;
}
.announcements h3 {
    margin: 8px 0px 10px 0px;
}

.achievements {
    background-color: white;
    border-radius: 8px;
    border-bottom: solid 1px #9ca3af;
    box-shadow: 0 2px 10px rgb(156,163,175);
    margin-right: 30px;
    padding: 13px;
}

.small-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    margin-top: 10px;
}

.small-text {
    font-size: 12px;
}
